<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%- locals.title %></title>
    <link rel="stylesheet" href="/css/style-main-layout.css" />
  </head>
  <body>
    <header>
      <nav>
        <ul>
          <a href="/"><li>home</li></a>
          <a href="/about"><li>about</li></a>
          <a href="/contact"><li>contact</li></a>
          <a href="/add"><li>add</li></a>
        </ul>
      </nav>
    </header>
    <%- body %>
  </body>
</html>
