<link rel="stylesheet" href="css/style-about.css" />
<div class="container-about">
  <div class="container-about-text">
    <h1>About Contact Steven</h1>
    <p>
      Lorem ipsum, dolor sit amet consectetur adipisicing elit. Facilis tenetur
      nemo sint et esse enim laudantium adipisci, vel debitis quibusdam
      obcaecati eaque laboriosam, fuga nesciunt nulla a soluta sunt minima.
    </p>
  </div>
  <img src="img/contact.jpeg" alt="" />
</div>
