.container-form {
  display: flex;
  height: 100%;
  width: 30%;
  margin: auto;
  justify-content: center;
  margin-top: 10rem;
}

.error-container {
  width: 100%;
  padding: 1rem 0.7rem;
  background-color: rgb(255, 132, 132);
  border-radius: 0.5rem;
}

form {
  flex-direction: column;
  align-items: center;
  row-gap: 1rem;
  display: flex;
}

form input {
  background-color: transparent;
  padding: 0.7rem 1.2rem;
  border-radius: 1rem;
  outline: none;
  font-size: 1.4rem;
  border: 2px solid black;
  color: black;
}

form button {
  background: transparent;
  padding: 0.5rem 1rem;
  border: 2px solid black;
  border-radius: 1rem;
  transition: 0.2s;
}

form button:hover {
  background-color: rgb(174, 174, 174);
}

.error-container ul {
  font-weight: 600;
  padding-inline: 1rem;
}
